{% extends "dictionary/base/base.html" %}

{% block title %}ваш словарь{% endblock %}

{% block content %}
<div class="words_list">
    <div class="row mb-3">
        <div class="col-md-6 themed-grid-col text-center"><h4>иностранное слово</h4></div>
        <div class="col-md-6 themed-grid-col text-center"><h4>перевод</h4></div>
    </div>
    {% for line in words %}
    <div class="row mb-3">
        <div class="col-md-6 themed-grid-col word1 text-center">{{ line.0 }}</div>
        <div class="col-md-6 themed-grid-col word2 text-center">{{ line.1 }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

