body {
    background-color: #3dd5f3;
}


/*header style*/
.header {
    background-image: url('../img/cat.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.word1 {
    background-color: #20c997;
    background-position: center;
}

.word2 {
    background-color: #0d6efd;
    background-position: center;
}


