<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static 'notes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-3">
            <a href="{% url 'notes:index' %}">на главную</a>
        </div>
        <div class="col-3">
            <a href="{% url 'register:logout' %}">отписаться</a>
        </div>
        <div class="col-6">
            <p>Hello {{ user.username }}</p>
        </div>
        {% else %}
        <p>Вы незарегистрированны на нашем приложении, пройдите регистрацию</p>
        <div class="col-2">
            <a href="{% url 'register:reg' %}">зарегистрироваться</a>
        </div>
        <div class="col-2">
            <a href="{% url 'notes:index' %}">залогиниться</a>
        </div>
        <div class="col-2">
            <a href="{% url 'notes:index' %}">на главную</a>
        </div>
        {% endif %}
    </div>
</div>

{% block content %}{% endblock %}

<footer class="text-center">
    <br>
    <p>&copy; 2025 Мой сайт. Все права защищены.</p>
</footer>
</body>
</html>