{% extends "notes/base/base.html" %}

{% block title %}index{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
        <h2>Ваши посты</h2>
        {% for note in notes%}
        <div class="row">
            <div class="my-note">
                <p>{{ note }}</p>
            </div>

        </div>
        {% empty %}
        <p>у Вас еще нет постов</p>
        {% endfor %}
        <a href="{% url 'notes:add_note' %}">добавить пост</a>
        {% endif %}
    </div>
</div>

{% endblock %}