<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'user_app/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<table>
    <tr>
        <td>
            <div>
                <img src="{% static 'user_app/img/cat.jpg' %}" width="100px">
            </div>
        </td>

        <td>
            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'forma' %}">Заполнение формы</a></li>
                        <li><a href="{% url 'json' %}">Вывод JSON</a></li>
                        <li><a href="{% url 'download' %}">Загрузите свой файл</a></li>
                    </ul>
                {% endblock %}
            </div>
        </td>
    <tr>
</table>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>